{
  "env": {
    "jest": true
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2021,
    "ecmaFeatures": {
      "jsx": true
    },
    "allowImportExportEverywhere": true
  }
}
